.about-container {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}

.about-carousel {
  height: 750px;
  width: 90vw;
  background-color: #FAFAFA;
  display: flex;
  position: relative;
  @include for-small-devices-down {
    flex-direction: column;
    height: auto;
  }
}

.about-carousel-image-holder {
  position: relative;
  width: 50%;
  @include for-small-devices-down {
    width: 100%;
    height: 320px;
  }
}

.about-carousel-image {
  width: 100%;
  height: 750px;
  object-fit: cover;
  object-position: center;
  position: absolute;
  transition: opacity 2s;
  @include for-small-devices-down {
    height: 320px;
  }
}

.about-carousel-image-number {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 22px;
  font-size: 38px;
  margin: 0;
  line-height: 38px;
  font-weight: lighter;
  color: #D2D2D2;
}

.about-carosuel-text {
  padding-left: 28px;
  width: 40%;
  height: 100%;
  @include for-small-devices-down {
    order: 3;
    width: 100%;
    padding: 0 14px;
  }
}

.about-carosuel-controls-holder {
  @include for-small-devices-down {
    position: relative;
    order: 2;
    flex-direction: row;
  }
}

.about-carosuel-controls {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 750px;
  @include for-small-devices-down {
    display: flex;
    position: relative;
    flex-direction: row;
    height: auto;
  }
}

.about-carousel-button {
  height: 190px;
  width: 40px;
  display: flex;
  justify-content: center;
  @include for-small-devices-down {
    height: 40px;
    width: 190px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
}

.carousel-button-up {
  background-color: #23242E;
  @include for-small-devices-down {
    order: 2;
  }
}

.carousel-button-down {
  background-color: #E5D1C9;
    @include for-small-devices-down {
      order: 1;
  }
}

.arrow-up {
  height: 25px;
  margin-top: 15px;
  @include for-small-devices-down {
    transform: rotate(90deg);
    margin-top: 0px;
    margin-right: 20px;
  }
}

.arrow-down {
  height: 25px;
  margin-bottom: 15px;
  transform: rotate(180deg);
  align-self: flex-end;
  @include for-small-devices-down {
    transform: rotate(270deg);
    margin-bottom: 0px;
    margin-right: 82%;
    align-self: auto;
  }
}

.text-divider {
  width: 20px;
  height: 1px;
  background-color: #23242E;
}

.faded {
  opacity: 0 !important;
}

.fadeOut {
  opacity: 0;
}
