.contact-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 100px);
  margin: 50px 0;
  padding: 0 25px;
  @include for-small-devices-down {
    padding: 0;
  }
}

.contact-sections-container {
  position: relative;
  max-width: 1000px;
  @include for-small-devices-down {
    width: 100%;
    margin: 70px 15px 15px;
  }
}

.contact-sections {
  width: 50%;
  height: 350px;
  @include for-small-devices-down {
    width: 100%;
    min-height: 300px;
  }
}

.contact-instagram {
  position: absolute;
  height: 40px;
  top: -40px;
  left: 0;
}

.contact-section-one {
  background: #EBD8D0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    color: #FFF;
  }
  p {
    color: #FFF;
  }
  span {
    width: 20px;
    height: 3px;
    background: #FFF;
  }
}

.color-block {
  background: #DBC9C1;
  height: 20px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.contact-section-two {
  img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: center;
  }
  @include for-small-devices-down {
    display: none;
  }
}

.contact-section-three {
  img {
    width: 100%;
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: center;
  }
  @include for-small-devices-down {
    display: none;
  }
}

.contact-section-four {
  background: #EAEAEA;
}

.contact-top {
  display: flex;
}

.contact-bottom {
  display: flex;
}

.contact-form-inputs-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding: 30px;
  p {
    color: #87878C;
    font-weight: lighter;
  }
}

.contact-form-inputs {
  background: transparent;
  border: none;
  border-bottom: 1px solid #D6D6D7;
  height: 38px;
  &:focus {
    outline: none;
  }
}

.contact-form-buttons-container {
  display: flex;
}

.contact-form-button-left {
  background: #B4B4B4;
  border: none;
  color: #FFF;
  height: 60px;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: 0;
  h2 {
    font-size: 25px;
    @include for-large-devices-down {
      font-size: 20px;
    }
    @include for-medium-devices-down {
      font-size: 17px;
    }
  }
  @include for-phone-only {
    padding: 0 15px;
  }
}

.contact-form-button-right {
  background: #23242E;
  border: none;
  color: #FFF;
  height: 60px;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  h2 {
    font-size: 25px;
    @include for-large-devices-down {
      font-size: 20px;
    }
    @include for-medium-devices-down {
      font-size: 17px;
    }
  }
  @include for-phone-only {
    padding: 0 15px;
  }
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

