.gallery-container {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  padding: 50px 0 0 0;
  @include for-small-devices-down {
    padding: 20px 0 0 0;
  }
}

.gallery-carousel {
  width: 90vw;
}

.gallery-image-holder {
  width: 100%;
  height: 500px;
  @include for-small-devices-down {
    height: 320px;
  }
}

.gallery-image {
  width: 90vw;
  height: 500px;
  // Width/height 100% not applying here 🤷‍♂️
  object-fit: cover;
  position: absolute;
  opacity: 1;
  transition: opacity 3s;
  @include for-small-devices-down {
    height: 320px;
  }
}

.gallery-carousel-controls {
  display: flex;
  width: 100%;
  height: 150px;
  justify-content: space-between;
}

.gallery-mini-carousel {
  display: flex;
  width: 72%;
   @include for-small-devices-down {
    width: 50%;
   }
}

.mini-carousel-item {
  width: 33.33%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mini-carousel-active {
  background-color: #23242E;
  p {
    color: white;
  }
}

.mini-carousel-one {
  @include for-small-devices-down {
    display: none;
  }
}

.mini-carousel-two {
  @include for-small-devices-down {
    width: 100% !important;
  }
}

.mini-carousel-three {
  @include for-small-devices-down {
    display: none;
  }
}

.mini-carousel-text-holder {
  width: 60%;
  @include for-small-devices-down {
    width: 80%;
  }
}

.mini-carousel-text {
  font-size: 14px;
  width: 80%;
  margin-bottom: 8px;
  line-height: 20px;
  position: relative;
  left: 0;
  transition: left 1s, opacity 0.3s ;
  @include for-small-devices-down {
    font-size: 12px;
  }
}

.gallery-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14%;
  height: 150px;
  cursor: pointer;
  @include for-small-devices-down {
    background-color: #F9F9F9;
    width: 25%;
  }
}

.gallery-left-arrow {
  transform: rotate(180deg);
  height: 25px;
}

.gallery-right-arrow {
  height: 25px;
}

.gallery-avatar {
  height: 30px;
  width: 30px;
  object-fit: cover;
  border-radius: 50%;
}

.gallery-swipe-right {
  left: 10vw !important;
}

.gallery-swipe-left {
  left: -10vw !important;
}

#gallery-title {
  margin-bottom: 4px;
}

