.homepage-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 100px);
  width: 100%;
}

.homepage-section {
  padding: 70px 20px;
  max-width: 900px;
  margin: auto;
  img {
    width: 100%;
    margin-bottom: 50px;
    @include for-phone-only {
      margin-bottom: 20px;
    }
  }
  h1 {
    letter-spacing: 1px;
  }
  @include for-small-devices-down {
    padding: 20px;
  }
}

.homepage-title {
  display: flex;
  justify-content: space-between;
  @include for-phone-only {
    display: block;
  }
}
