.testimonials-container {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  @include for-small-devices-down {
    padding: 20px 0;
  }
}

.testimonials-carousel {
  display: flex;
  height: 750px;
  width: 90vw;
  @include for-small-devices-down {
    flex-direction: column;
    height: auto;
  }
}

.testimonials-left-side {
  position: relative;
  width: 50%;
  @include for-small-devices-down {
    width: 100%;
    height: 320px;
  }
}

.testimonials-image {
  height: 750px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  opacity: 0.4;
  transition: opacity 1s;
  @include for-small-devices-down {
    height: 320px;
  }
}

.testimonials-carousel-tracker {
  position: absolute;
  top: 10px;
  left: 10px;
}

.testimonials-image-text-holder {
  position: absolute;
  bottom: 40px;
  left: 40px;
  width: 60%;
  @include for-small-devices-down {
    left: 10%;
    width: 80%;
  }
}

.testimonial-image-number {
  font-size: 65px;
  margin: 0;
  line-height: 65px;
  font-weight: lighter;
  color: #D2D2D2;
  @include for-small-devices-down {
    font-size: 40px;
    line-height: 40px;
  }
}

.testimonials-image-text {
  font-size: 22px;
  font-weight: lighter;
  position: relative;
  left: 0;
  transition: left 1s, opacity 0.3s;
  @include for-small-devices-down {
    font-size: 16px;
  }
}

// ********* Right Side *************

.testimonials-right-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  @include for-small-devices-down {
    width: 100%;
  }
}

.testimonials-text-holder {
  position: relative;
  height: 500px;
  background-color: #EBD8D0;
  padding: 20px 50px;
  @include for-small-devices-down {
    order: 2;
    height: auto;
  }
}

.client-reviews-circle {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: #EBD8D0;
  margin-right: 15px;
}

.client-reviews {
  display: flex;
  align-items: center;
}

.client-reviews-text {
  font-size: 22px;
  font-weight: lighter;
  margin: 0;
}

.testimonials-text {
  font-size: 38px;
  font-weight: lighter;
  @include for-small-devices-down {
    font-size: 22px;
  }
}

.large-text-divider-white {
  width: 40px;
  height: 2px;
  background-color: #fff;
}

.large-text-divider {
  width: 40px;
  height: 2px;
  background-color: #23242E;
}

.testimonial-carousel-controls-holder {
  display: flex;
  width: 100%;
  @include for-small-devices-down {
    order: 1;
  }
}

.testimonial-owner {
  width: 50%;
  height: 250px;
  background-color: #23242E;
  display: flex;
  justify-content: center;
  align-items: center;
  @include for-small-devices-down {
    height: 100px;
  }
}

#owner {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 0;
  transition: left 1s, opacity 0.3s;
}

.testimonial-owner-text {
  font-weight: lighter;
  font-size: 22px;
  width: 80%;
  text-align: center;
  margin: 0;
  @include for-small-devices-down {
    font-size: 14px;
  }
}

.next-testimonial-button {
  width: 50%;
  height: 250px;
  background-color: #F5F5F5;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  @include for-small-devices-down {
    height: 100px;
  }
}

.next-testimonial-button-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: scale(1);
  transition: .15s;
}

.next-testimonial-text {
  font-weight: lighter;
  font-size: 22px;
  @include for-small-devices-down {
    font-size: 14px;
  }
}

.weird-arrow {
  height: 50px;
  @include for-small-devices-down {
    height: 25px;
  }
}

.rpb-5 {
  padding-bottom: 3rem !important;
  @include for-small-devices-down {
    padding-bottom: 1.5rem !important;
  }
}

.rpy-5 {
  padding-bottom: 3rem !important;
  padding-top: 3rem !important;
  @include for-small-devices-down {
    padding-bottom: 1.5rem !important;
  padding-top: 1.5rem !important;
  }
}

.rmt-5 {
  margin-top: 3rem !important;
  @include for-small-devices-down {
    margin-top: 1.5rem !important;
  }
}

// ******** Dyanamic JS classes ********

.clicked {
  transform: scale(0.9);
}

.swipe-right {
  left: 50vw !important;
}

.testimonial-fade {
  opacity: 0;
}


