<div class="footer">
  <div class="footer-page-links">
    <%= link_to 'TESTIMONIALS', '#', class: 'v-small-text lighter no-decoration' %>
    <div class="dot"></div>
    <%= link_to 'GALLERY', '#', class: 'v-small-text lighter no-decoration' %>
    <div class="dot"></div>
    <%= link_to 'CONTACT', contact_path, class: 'v-small-text lighter no-decoration' %>
  </div>
  <div class="footer-phone">
    <p class="v-small-text no-margin lighter">+1 716-786-2323</p>
  </div>
  <div class="footer-addresses">
    <p class="v-small-text lighter"><span class="boldest">MIAMI</span> OFFICE: 138 BRICKELL AVENUE, MIAMI, FLORIDA 33129</p>
    <p class="v-small-text lighter"><span class="boldest">NEW YORK</span> OFFICE: 28 HOUSTON AVENUE, NEW YORK CITY, NEW YORK 2123232</p>
  </div>
  <div class="footer-contact">
    <a href="mailto:contact@houseofdecora.com" class="v-small-text no-margin lighter hod-email">CONTACT@HOUSEOFDECORA.COM</a>
    <!-- <p class="v-small-text no-margin lighter"></p> -->
  </div>
</div>
