<div class="about-banner-one">
  <%= image_tag 'about-banner-one.jpg' %>
</div>
<div class="about-text-section">
  <div class="about-text-each-section">
    <h1 class="lighter">A UNIQUE APPROACH TO INTERIOR DESIGN</h1>
  </div>
  <div class="about-text-each-section">
    <p class="lighter s-medium-text large-margin-bottom">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
    <hr>
  </div>
  <div class="about-text-each-section about-text-last-section"></div>
</div>
<div class="about-banner-two">
  <%= image_tag 'about-banner-two.jpg' %>
  <div class="about-banner-two-text">
    <div class="about-banner-two-text-container">
      <h1 class="lighter prata">APPLIED ENGINEERING</h1>
      <p class="lighter s-medium-text large-margin-bottom">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
    </div>
    <hr class="mobile-hr">
  </div>
</div>
<div class="about-half-banner-section">
  <div class="about-half-banner-text">
    <div class="about-half-banner-text-container">
      <h1 class="lighter prata">TAILORED FURNITURE</h1>
      <p class="lighter s-medium-text large-margin-bottom">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
      <hr class="no-bottom-margin">
    </div>
  </div>
  <%= image_tag 'about-half-banner.jpg' %>
</div>
