<div class="gallery-container">
  <div class="gallery-carousel">
    <div class="gallery-text">
      <p class="source-sans black lighter">Living Room #marbel counters # floriane wood floors #roche bobois </p>
    </div>
    <div class="gallery-image-holder">
      <%= image_tag "gallery-image-one.png", alt: "House of Decora Gallery", class: "gallery-image" %>
    </div>
    <div class="gallery-carousel-controls">
      <div class="gallery-button">
        <%= image_tag "arrow-head.png", alt: "House of Decora Gallery Button", class: "gallery-left-arrow" %>
      </div>
      <div class="gallery-mini-carousel">
        <div class="mini-carousel-item mini-carousel-one">
          <p class="source-sans black mini-carousel-text">New Decko Upholstery Design</p>
          <p class="source-sans black mini-carousel-text">Miami, FL</p>
        </div>
        <div class="mini-carousel-item mini-carousel-two">
          <p class="source-sans black mini-carousel-text">New Decko Upholstery Design</p>
          <p class="source-sans black mini-carousel-text">Miami, FL</p>
        </div>
        <div class="mini-carousel-item mini-carousel-three mini-carousel-active">
          <p class="source-sans black mini-carousel-text">New Decko Upholstery Design</p>
          <p class="source-sans black mini-carousel-text">Miami, FL</p>
        </div>
      </div>
      <div class="gallery-button">
        <%= image_tag "arrow-head.png", alt: "House of Decora Gallery Button", class: "gallery-right-arrow" %>
      </div>
    </div>
  </div>
</div>
