<div class="homepage-wrapper">
  <%= image_tag 'homepage-image.png' %>
  <div class="homepage-section">
    <div class="homepage-title">
      <h2>INTERIOR DESIGN</h2>
      <h2>+</h2>
      <h2 style="font-family: $lato; font-weight: 100;">CUSTOM FURNITURE</h2>
      <h2>+</h2>
      <h2>EXCEPTIONAL ART</h2>
    </div>
    <br>
    <p class="lighter s-medium-text no-margin">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
  </div>
</div>


